@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1 class="display-4">Welcome to codingtuts.com</h1>
<p>
    some text some text some text some text
    some text some text some text some text
    some text some text some text some text
    some text some text some text some text
    some text some text some text some text
    some text some text some text some text
    some text some text some text some text
    some text some text some text some text
    some text some text some text some text
    some text some text some text some text
    some text some text some text some text
    some text some text some text some text
    some text some text some text some text
    some text some text some text some text
    some text some text some text some text
    some text some text some text some text
    some text some text some text some text
    some text some text some text some text
    some text some text some text some text
    some text some text some text some text
</p>
@* Put page name in "href" *@