@page
@model tut2.Pages.PythonModel
@{
    ViewData["Title"] = "Python Tutorials";
    ViewData["lang"] = "Python";
}
<div id="pythonDisplay" class="text-center">
    <img src="python_logo.png" width="300.5" height="101.5">
    <p></p>
</div>

<nav class="navbar sticky-top navbar-light bg-light">
  <div class="container-fluid">
    <a class="nav-link" href="#">Loops</a>
    <a class="nav-link" href="#">Functions</a>
    <a class="nav-link" href="#">Classes</a>
    <a class="nav-link" href="#">Basic Syntax</a>
    <a class="nav-link" href="#">Exceptions // Error Handling</a>
  </div>
</nav>