@page
@model tut2.Pages.pythonPageModel
@{
}

<ul>
    <h1 id="python-programming-language">
        Python Programming Language
    </h1>
    <h2>
        <li id="python-loops">loops</li>
    </h2>
    <ul>
        <li>
            <h5 id="python-for-loops">for Loops</h5>
        
    <code>range</code> starts with 0 by default and moves in steps of +1.     
    <br>
    One has to supply the end value of the range; then, it goes to <code>n-1</code> if n is the number given.
    <br>
    <br>
    i.e. if one plugs 10 into range() it will start at zero and go to 9.
        
        <code><pre>
    >>> for i in range(10): print(i)
    ... 
    0
    1
    2
    3
    4
    5
    6
    7
    8
    9
    >>> </pre></code>
    
            
        </li>
    </ul>

 <ul>
        <li>
            <h5 id="python-while-loops">while Loops</h5>
        
                while loops are written as:
                <br>
                <code><pre>
    while condition:
        do something                    
                </pre></code>
                    


            
        </li>
    </ul>

</ul>

</ul>


