<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/tut2.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/tut2.styles.css" asp-append-version="true" />
     </script>
    <script src="prism-2.js"></script>
    <link rel="stylesheet" href="prism-2.css">
</head>
<body>
    <header>
        <div class="row"">
            <div class="container bg-light p-3 fixed-top">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="/"><p>home</p></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/pythonPage"><p>python</p></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><p>Link</p></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#"><p>Disabled</p></a>
                    </li>
                </ul>
            </div>
        </div>
        
    </header>
        
        @* top ads *@
        
        <div class="container-fluid">
            <h class="display-4">
                @* Ads go here *@
            
        </div>
        <div class="container-fluid">
            <div class="row">
                
                @* sidebar *@

                <div class="col-lg-2 bg-light">
                <div class="col-lg-2 bg-light position-fixed text-wrap top-50">
                  
                    wow
                    
                  
                </div>
                </div>
                @* body *@

                <div class="col-lg-8 bg-light p-5" style="text-align: justiy;">
                    @RenderBody()
                </div>

                @* aside *@

                <div class="col-lg-2 p-3" style="text-align: center;">
                    aside.
                </div>
            </div>
            
        
        </div>
        
    <footer>hey</footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
    <div class="row">
        <div class="col-lg-2">        
        </div>
    </div>
</body>

</html>
@* dotnet new page --name Python --namespace tut2.Pages --output Pages *@


