<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/tut2.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="row">
            <div class="container bg-light p-3">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="/index">home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/pythonPage">python</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Disabled</a>
                    </li>
                </ul>
            </div>
        </div>
        
    </header>
        
        @* top ads *@
        
        <div class="container-fluid">
            <h class="display-4">
                Ads
            </p>
        </div>
        <div class="container-fluid">
            <div class="row">
                
                @* sidebar *@
                
                <div class="col-lg-2 bg-light p-3" style="text-align: center;">
                    Links Go here!
                    <br>
                    <br>
                    <ul>
                        <li>
                            <a class="anchor" href="/pythonPage#python-programming-language">python</a>
                        </li>
                        <ul>
                            <li>
                                <a class="anchor" href="/pythonPage#python-loops">loops</a>
                            <ul>
                                <li>
                                    <a class="anchor" href="/pythonPage#python-for-loops">for loops</a>
                                </li>
                                <li>
                                    <a class="anchor" href="/pythonPage#python-while-loops">while loops</a>
                                </li>
                            </ul>
                            </li>
                        </ul>
                    </ul>
                </div>

                

                @* body *@

                <div class="col-lg-8 bg-light p-3" style="text-align: justiy;">
                    @RenderBody()
                </div>

                @* aside *@

                <div class="col-lg-2 p-3" style="text-align: center;">
                    aside.
                </div>
            </div>
        </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - tut2 - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
@* dotnet new page --name Python --namespace tut2.Pages --output Pages *@


