html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
  font-size: larger;
}
.anc{
  display: block;
  height: 122px; /*same height as header*/
  margin-top: -122px; /*same height as header*/
  visibility: hidden;
  overflow-wrap: normal;

}

a{
  font-family: sans-serif;
  font-weight: 300;
  text-decoration: none; 
    
}
a p {
  color: black;
  font-size: large;
  padding: 10px;
  
}

a:hover p{
  border: solid black 1px;
  box-shadow: rgba(15, 14, 14, 0.244) 5px 5px 5px;
  
}

body {
  margin-bottom: 60px;
  padding-top: 73px;
  background-color: white;
  color: black;
  
  
}
p {
  color: red;
}
.code-container{
  background-color: rgba(0, 0, 0, 0.025);
  color: black;
  padding: 50px;
}

h1, h2, h3, h4, h5, h6{
  font-family: sans-serif;
  font-weight: 300;
}